/* ******************* CUSTOM PROPETIES  ********************** */
:root {
  --primary-color: #191d2b;
  --secondary-color: #27ae60;
  --third-color: #d49311;
  --fourth-color: #271f57;
  --white-color: #ffffff;
  --btn-cv-color: #ffffff;
  --text-color: #000000;
  --black-color: #000;
  --grey-color: #f8f8f8;
  --grey-1-color: #dbe1e8;
  --grey-2-color: #b2becd;
  --grey-3-color: #6c7983;
  --grey-4-color: #454e56;
  --grey-5-color: #2a2e35;
  --grey-6-color: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --font: "Raleway", "sans-serif";
  --icon-size: clamp(2.1rem, 0.34rem + 5vw, 2.5rem);
  --text-xs-size: clamp(0.6rem, 0.3rem + 1.5rem, 1.1rem);
  --text-s-size: clamp(0.6rem, 0.3rem + 1.8rem, 1.2rem);
  --text-md-size: clamp(1rem, 0.3rem + 2.5rem, 1.5rem);
  --text-xl-size: clamp(1.5rem, 0.3rem + 3rem, 2.2rem);
  --min-width: 320px;
  --max-width: 1024px;
}

.light-mode {
  --primary-color: #ffffff;
  --secondary-color: #f56692;
  --white-color: #454e56;
  --black-color: #000;
  --grey-color: #f8f8f8;
  --grey-1-color: #6c7983;
  --grey-2-color: #6c7983;
  --grey-3-color: #6c7983;
  --grey-4-color: #454e56;
  --grey-5-color: #f8f8f8;
  --grey-6-color: #12181b;
  --btn-cv-color:#000;
}

/* ******************* RESET  ********************** */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  overflow-x: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

header {
  color: var(--white-color);
  overflow: hidden;
  padding: 0;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

/* ******************* COMPONENTS  ********************** */
/*-----------------ESTILOS DE UN COMPONENTE */
.container {
  display: none;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey-4-color);
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.theme-btn svg {
  font-size: 1.4rem;
  color: var(--grey-2-color);
  pointer-events: none;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--grey-4-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controls .control svg {
  font-size: 1.2rem;
  color: var(--grey-2-color);
  pointer-events: none;
}

.controls .active-btn {
  background-color: var(--secondary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.controls .active-btn svg {
  color: var(--white-color);
}

.header-ctn {
  position: relative;
  overflow: hidden;
}

.header-ctn .spline {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.header-ctn .lower-ctn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-ctn .lower-ctn .left-header {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  padding: 0 1rem;
  position: relative;
  border-radius: var(--br-sm-2);
  height: 80%;
  width: 68%;
  margin-top: 10%;
  margin-left: 4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-ctn .lower-ctn .left-header .ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-ctn .lower-ctn .left-header .ctn .name {
  font-size: 3rem;
  color: #ffffff;
  z-index: 1;
}

.header-ctn .lower-ctn .left-header .ctn .name span {
  color: #0a7b39;
}

.header-ctn .lower-ctn .left-header .ctn p {
  color: #ffffff;
  margin: 1.5rem 0;
  line-height: 2rem;
  z-index: 1;
  font-weight: 600;
}

.header-ctn .lower-ctn .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-ctn .lower-ctn .right-header .name {
  font-size: 3rem;
  z-index: 1;
}

.header-ctn .lower-ctn .right-header .name span {
  color: var(--secondary-color);
}

.header-ctn .lower-ctn .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  z-index: 1;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about-container .right-about .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 100%;
  background-color: var(--black-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about-container .right-about .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-container .right-about .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--grey-1-color);
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}

.about-stats .progress-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-stats .progress-bars .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}

.about-stats .progress-bars .progress-bar .progress-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--grey-2-color);
}

.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--grey-4-color);
  margin-left: 1rem;
  position: relative;
}

.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--secondary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 90%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .css {
  width: 80%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .next {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 90%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .django {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .fastapi {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .git {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .graphql {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .machine-l {
  width: 55%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--grey-5-color);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--grey-5-color);
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--secondary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--grey-5-color);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: var(--grey-2-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: var(--grey-2-color);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--white-color);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--white-color);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--primary-color);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
}

.contact-content-con .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-content-con .left-contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.contact-content-con .left-contact .contact-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  background-color: var(--grey-5-color);
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  -webkit-transition: all 0.09s ease-in-out;
  transition: all 0.09s ease-in-out;
}

.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--secondary-color);
}

.contact-content-con .left-contact .contact-icon a:hover svg {
  color: var(--primary-color);
}

.contact-content-con .left-contact .contact-icon a svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-txt {
  padding: 0 2rem;
  color: var(--btn-cv-color);
}

.main-btn .btn-icon {
  background-color: var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  color: #ffffff;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--fourth-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--secondary-color);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--grey-5-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

/* ******************* UTILITIES  ********************** */
/* -----------------CLASES QUE VAN A SER REUTILIZABLES */
/* ******************* SITE STYLES  ********************** */
/* -----------------ESTILOS ESPECIFICOS PARA LA PAGINA */
/*# sourceMappingURL=global.css.map */