/* ******************* CUSTOM PROPETIES  ********************** */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
:root {
  --primary-color: #191d2b;
  --primary-alpha-color: #112240;
  --secondary-color: #27ae60;
  --secondary-alpha-color: #64ffda;
  --third-color: #d49311;
  --fourth-color: #271f57;
  --white-icon-color: #ffffff;
  --white-color: #ffffff;
  --btn-cv-color: #ffffff;
  --text-color: #000000;
  --black-color: #000;
  --title-portfolio-color: #f8f8f8;
  --description-portfolio-color: #c5cad9;
  --home-paragraph-color: #ffffff;
  --name-color: #0a7b39;
  --grey-color: #f8f8f8;
  --grey-1-color: #dbe1e8;
  --grey-2-color: #a8b2d1;
  --grey-3-color: #6c7983;
  --grey-4-color: #454e56;
  --grey-5-color: #2a2e35;
  --grey-6-color: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
  --font: Raleway, "Raleway", "sans-serif";
}

.light-mode {
  --primary-color: #ffffff;
  --primary-alpha-color: #495278;
  --secondary-color: #95a3e0;
  --secondary-alpha-color: #28987e;
  --title-portfolio-color: #3b4363;
  --description-portfolio-color: #a1a8bb;
  --home-paragraph-color: #12181b;
  --name-color: #271f57;
  --white-icon-color: #ffffff;
  --white-color: #454e56;
  --black-color: #000;
  --grey-color: #f8f8f8;
  --grey-1-color: #6c7983;
  --grey-2-color: #6c7983;
  --grey-3-color: #6c7983;
  --grey-4-color: #454e56;
  --grey-5-color: #f8f8f8;
  --grey-6-color: #12181b;
  --btn-cv-color: #000;
}

/* ******************* RESET  ********************** */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  color: var(--white-color);
  overflow-x: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

header {
  color: var(--white-color);
  overflow: hidden;
  padding: 0;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

/* ******************* COMPONENTS  ********************** */
/*-----------------ESTILOS DE UN COMPONENTE */
.container {
  display: none;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.container-home {
  display: none;
  -webkit-transform: translateY(-100%) scale(0);
          transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
}

@-webkit-keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes scaleAnim {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey-4-color);
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.theme-btn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.theme-btn svg {
  font-size: 1.4rem;
  color: var(--grey-2-color);
  pointer-events: none;
}

.language-btn {
  top: 15%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--grey-4-color);
  cursor: pointer;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.language-btn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.language-btn span {
  font-size: 1.4rem;
  color: var(--grey-2-color);
  pointer-events: none;
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--grey-4-color);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
}

.controls .control svg {
  font-size: 1.2rem;
  color: var(--grey-2-color);
  pointer-events: none;
}

.controls .active-btn {
  background-color: var(--secondary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.controls .active-btn svg {
  color: var(--white-color);
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: charge 1.2s infinite;
          animation: charge 1.2s infinite;
}

@-webkit-keyframes charge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

@keyframes charge {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    -webkit-transform: rotate(1800deg);
            transform: rotate(1800deg);
  }
}

.header-ctn {
  position: relative;
  overflow: hidden;
}

.header-ctn .spline {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.header-ctn .lower-ctn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}

.header-ctn .lower-ctn .left-header {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  padding: 0 1rem;
  position: relative;
  border-radius: var(--br-sm-2);
  height: 80%;
  width: 68%;
  margin-top: 10%;
  margin-left: 4rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-ctn .lower-ctn .left-header .ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-ctn .lower-ctn .left-header .ctn .name {
  font-size: 3rem;
  color: var(--home-paragraph-color);
  z-index: 1;
}

.header-ctn .lower-ctn .left-header .ctn .name span {
  color: var(--name-color);
}

.header-ctn .lower-ctn .left-header .ctn p {
  color: var(--home-paragraph-color);
  margin: 1.5rem 0;
  line-height: 2rem;
  z-index: 1;
  font-weight: 600;
}

.header-ctn .lower-ctn .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 18rem;
}

.header-ctn .lower-ctn .right-header .name {
  font-size: 3rem;
  z-index: 1;
}

.header-ctn .lower-ctn .right-header .name span {
  color: var(--secondary-color);
}

.header-ctn .lower-ctn .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  z-index: 1;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.about-container .right-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about-container .right-about .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 100%;
  background-color: var(--black-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about-container .right-about .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.about-container .right-about .image img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.about-container .left-about {
  padding-right: 5rem;
}

.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--grey-1-color);
}

.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-stats {
  padding-bottom: 4rem;
}

.about-stats .progress-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-stats .progress-bars .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-stats .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}

.about-stats .progress-bars .progress-bar .progress-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-stats .progress-bars .progress-bar .progress-con .prog-text {
  color: var(--grey-2-color);
}

.about-stats .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--grey-4-color);
  margin-left: 1rem;
  position: relative;
}

.about-stats .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--secondary-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .html {
  width: 90%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .css3 {
  width: 80%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .js {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .node {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .react {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .next {
  width: 75%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .python {
  width: 90%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .django {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .fastapi {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .git {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .graphql {
  width: 60%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .machine-l {
  width: 65%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .dart {
  width: 70%;
}

.about-stats .progress-bars .progress-bar .progress-con .progress .flutter {
  width: 60%;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}

.stat-title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--grey-5-color);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--grey-5-color);
}

.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--secondary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline .timeline-item .tl-icon svg {
  font-size: 1.3rem;
}

.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--grey-5-color);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}

.timeline .timeline-item h5 span {
  color: var(--grey-2-color);
  font-weight: 500;
  font-size: 1.2rem;
}

.timeline .timeline-item p {
  color: var(--grey-2-color);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}

.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}

.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.portfolios .portfolio-item .hover-items .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--white-color);
  margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--white-color);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--primary-color);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.projects ul a {
  position: relative;
  z-index: 1;
}

.projects ul li {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .projects ul li {
    -webkit-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  }
}

.projects ul li:not(:last-of-type) {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .projects ul li:not(:last-of-type) {
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .projects ul li:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.projects ul li:nth-of-type(odd) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}

@media (max-width: 1080px) {
  .projects ul li:nth-of-type(odd) .project-content {
    grid-column: 5 / -1;
  }
}

@media (max-width: 768px) {
  .projects ul li:nth-of-type(odd) .project-content {
    grid-column: 1 / -1;
    padding: 40px 40px 30px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .projects ul li:nth-of-type(odd) .project-content {
    padding: 25px 25px 20px;
  }
}

.projects ul li:nth-of-type(odd) .project-tech-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .projects ul li:nth-of-type(odd) .project-tech-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.projects ul li:nth-of-type(odd) .project-tech-list li {
  margin: 0 0 5px 20px;
}

@media (max-width: 768px) {
  .projects ul li:nth-of-type(odd) .project-tech-list li {
    margin: 0 10px 5px 0;
  }
}

.projects ul li:nth-of-type(odd) .project-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 0;
  margin-right: -10px;
}

@media (max-width: 768px) {
  .projects ul li:nth-of-type(odd) .project-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px;
    margin-right: 0;
  }
}

.projects ul li:nth-of-type(odd) .project-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
}

@media (max-width: 768px) {
  .projects ul li:nth-of-type(odd) .project-image {
    grid-column: 1 / -1;
  }
}

.projects ul li .project-content {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  grid-row: 1 / -1;
}

@media (max-width: 1080px) {
  .projects ul li .project-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
  }
}

@media (max-width: 768px) {
  .projects ul li .project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    grid-column: 1 / -1;
    padding: 40px 40px 30px;
    z-index: 5;
  }
}

@media (max-width: 480px) {
  .projects ul li .project-content {
    padding: 30px 25px 20px;
  }
}

.projects ul li .project-overline {
  margin: 10px 0;
  color: var(--secondary-alpha-color);
  font-size: 1rem;
  font-weight: 400;
}

.projects ul li .project-title {
  color: var(--title-portfolio-color);
  font-size: clamp(24px, 5vw, 28px);
}

@media (min-width: 768px) {
  .projects ul li .project-title {
    margin: 0 0 20px;
  }
}

@media (max-width: 768px) {
  .projects ul li .project-title {
    color: var(--title-portfolio-color);
  }
  .projects ul li .project-title a {
    position: static;
  }
  .projects ul li .project-title a:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.projects ul li .project-description {
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: var(--primary-alpha-color);
  color: var(--description-portfolio-color);
  font-size: 1rem;
  -webkit-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
          box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

@media (max-width: 768px) {
  .projects ul li .project-description {
    color: var(--description-portfolio-color);
    padding: 20px 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects ul li .project-description:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.projects ul li .project-description a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--secondary-alpha-color);
}

.projects ul li .project-description strong {
  color: var(--white-color);
  font-weight: normal;
}

.projects ul li .project-tech-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0 10px;
  padding: 0;
  list-style: none;
}

.projects ul li .project-tech-list li {
  margin: 0 20px 5px 0;
  color: var(--grey-2-color);
  font-size: 0.9rem;
  white-space: nowrap;
  display: list-item;
}

@media (max-width: 768px) {
  .projects ul li .project-tech-list {
    margin: 10px 0;
  }
  .projects ul li .project-tech-list li {
    margin: 0 10px 5px 0;
    color: var(--grey-1-color);
  }
}

.projects ul li .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: var(--grey-1-color);
}

.projects ul li .project-links a {
  padding: 10px;
}

.projects ul li .project-links a.external svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}

.projects ul li .project-links a svg {
  width: 20px;
  height: 20px;
}

.projects ul li .project-links .cta {
  margin: 10px;
}

.projects ul li .project-image {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .projects ul li .project-image {
    grid-column: 1 / -1;
    height: 100%;
    opacity: 0.25;
  }
}

.projects ul li .project-image a {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  vertical-align: middle;
}

.projects ul li .project-image a:hover, .projects ul li .project-image a:focus {
  background: transparent;
  outline: 0;
}

.projects ul li .project-image a:hover::before,
.projects ul li .project-image a:hover .img, .projects ul li .project-image a:focus::before,
.projects ul li .project-image a:focus .img {
  background: transparent;
  -webkit-filter: none;
          filter: none;
}

.projects ul li .project-image a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--grey-4-color);
  mix-blend-mode: screen;
}

.projects ul li .project-image .img {
  border-radius: 4px;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(1) brightness(90%);
          filter: grayscale(100%) contrast(1) brightness(90%);
}

@media (max-width: 768px) {
  .projects ul li .project-image .img {
    -o-object-fit: cover;
       object-fit: cover;
    width: auto;
    height: 100%;
    -webkit-filter: grayscale(100%) contrast(1) brightness(50%);
            filter: grayscale(100%) contrast(1) brightness(50%);
  }
}

.contact-content-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem;
}

.contact-content-con .left-contact {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}

.contact-content-con .left-contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  margin-top: 2rem;
}

.contact-content-con .left-contact .icons .icon {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  border-radius: 50%;
  outline: 2px solid var(--white-color);
  -webkit-transition-property: outline-offset, outline-color, background-color;
  transition-property: outline-offset, outline-color, background-color;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.contact-content-con .left-contact .icons .icon:hover {
  outline-offset: 4px;
}

.contact-content-con .left-contact .icons .icon:hover svg {
  -webkit-animation: shake 0.25s;
          animation: shake 0.25s;
  color: var(--white-icon-color);
}

.contact-content-con .left-contact .icons .icon-instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}

.contact-content-con .left-contact .icons .icon-fb:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.contact-content-con .left-contact .icons .icon-linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.contact-content-con .left-contact .icons .icon-github:hover {
  background-color: #727b75;
  outline-color: #555c57;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-btn .btn-txt {
  padding: 0 2rem;
  color: var(--btn-cv-color);
}

.main-btn .btn-icon {
  background-color: var(--fourth-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  color: #ffffff;
}

.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  z-index: -1;
}

.main-btn:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--fourth-color);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}

.main-title h2 span {
  color: var(--secondary-color);
}

.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--grey-5-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
  .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .container {
    padding: 2rem 2.5rem;
  }
  .container-home {
    padding: 2rem 2.5rem;
  }
  .about-stats .progress-bars {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.3rem;
  }
  .main-title h2 .bg-text {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }
  .container-home {
    padding: 0;
  }
  .main-title h2 .bg-text {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1250px) {
  .portfolios {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .portfolios {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1070px) {
  .container-home {
    padding: 35% 6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-ctn .spline {
    display: none !important;
    height: 0;
  }
  .header-ctn .lower-ctn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
  }
  .header-ctn .lower-ctn .left-header {
    background-color: var(--primary-color);
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 0rem;
    font-size: 1rem;
  }
  .header-ctn .lower-ctn .left-header .name {
    color: var(--white-color) !important;
    font-size: 1.5rem;
    text-align: center;
  }
  .header-ctn .lower-ctn .left-header .name span {
    color: var(--secondary-color) !important;
  }
  .header-ctn .lower-ctn .left-header p {
    color: var(--white-color) !important;
  }
  .header-ctn .lower-ctn .right-header {
    display: none;
    width: 0;
    height: 0;
  }
  .main-btn {
    border: 1px solid var(--secondary-color);
  }
  .main-btn .btn-txt {
    color: var(--white-color) !important;
  }
  .main-btn .btn-icon {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
  .main-btn:hover::before {
    background-color: var(--secondary-color);
  }
  .about-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
  .left-contact h4 {
    text-align: center;
  }
  .left-contact .icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 970px) {
  .container {
    padding: 7rem 6rem;
  }
  .container-home {
    padding: 35% 6rem;
  }
  .about-container .left-about {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 7rem 3rem;
  }
  .container-home {
    padding: 35% 6rem;
  }
  .about-stats .progress-bars {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .timeline {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main-title h2 {
    font-size: 3rem;
  }
  .main-title h2 span {
    font-size: 3rem;
  }
  .main-title h2 .bg-text {
    font-size: 4rem;
  }
}

/* ******************* UTILITIES  ********************** */
/* -----------------CLASES QUE VAN A SER REUTILIZABLES */
/* ******************* SITE STYLES  ********************** */
/* -----------------ESTILOS ESPECIFICOS PARA LA PAGINA */
/*# sourceMappingURL=global.css.map */